NEXT_PUBLIC_SITE_URL=https://thesocialspreadcart.com
NEXT_PUBLIC_COMING_SOON=false
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LEGACY_TENANT_SLUG=shayley
RESEND_API_KEY=
RESEND_FROM=The Social Spread Cart <info@socialspreadcart.com>
QUOTE_NOTIFICATION_EMAIL=info@socialspreadcart.com
PAYMENT_PROVIDER=disabled
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_MENU_ITEM_TAX_CODE=
TAX_ORIGIN_ADDRESS_LINE1=
TAX_ORIGIN_ADDRESS_LINE2=
TAX_ORIGIN_ADDRESS_CITY=Bentonville
TAX_ORIGIN_ADDRESS_STATE=AR
TAX_ORIGIN_ADDRESS_POSTAL_CODE=
TAX_ORIGIN_ADDRESS_COUNTRY=US
CHECKOUT_SUCCESS_URL=
CHECKOUT_CANCEL_URL=
